.list-item-links {
  height: 2rem;
  color: #212121;
  font-weight: bold;
  margin: 0.8rem 0.5rem 0;
}
.categories-navbar {
  display: flex;
  color: #212121;
  font-weight: bold;
  margin: 0.5rem;
  border-left: 2px solid #212121;
}
.list-item-active {
  height: 2rem;
  color: #212121;
  font-weight: bold;
  margin: 0.8rem 0.5rem 0;
  border-bottom: 2px solid #fb4707;
}
.BottomNavigationAction {
  margin-bottom: 0.1rem;

  /* width: inherit; */
}
.list-item-menu-bar {
  display: flex;
  color: #000;
  align-items: center;
  margin: 0.5rem;
}
.view-card {
  width: 55%;
}
.bill {
  width: 40%;
}

.logo-header {
  display: flex;
  align-items: center;
}
