.loading-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  background-color: var(--primary-color);
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsisdiv {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #242526;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsisdiv:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis10.6sinfinite;
}
.lds-ellipsisdiv:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis20.6sinfinite;
}
.lds-ellipsisdiv:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis20.6sinfinite;
}
.lds-ellipsisdiv:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis30.6sinfinite;
}
/* @keyframeslds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframeslds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframeslds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
} */
