.footer-menu-link {
  color: #e8e8e8;
  margin-bottom: 0.4rem;
  font-size: 0.8rem;
}
.footer-menu-link:hover {
  color: #adadad;
}
.enamad img {
  width: 6rem;
  height: 7rem;
  padding: 0.3rem;
  border: 2px solid #81858b;
  border-radius: 1rem;
  margin-right: 0.7rem;
}
