.footer {
  background-color: #212121;
  color: #e8e8e8 !important;
  margin-top: 2rem;
}
.footer-container {
  padding: 2.3rem 1rem 0.5rem 1rem;
}
.logo-jump-box {
  display: flex;
  justify-content: space-between;
}
.logo-jump-box img {
  width: 10rem;
}
.logo-jump-box button {
  background-color: transparent;
  border: 1px solid #a1a3a8;
  border-radius: 1rem;
  padding: 0 1.5rem;
  color: #a1a3a8;
  max-height: 3.1rem;
  text-align: center;
}
.arrow-top-icon {
  margin-right: 1rem;
}
.tell-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1.2rem;
}
.number-box,.email-box,.suport{
    font-size: 0.9rem;
    padding-left: 1rem;
}
.number-box,.email-box{
    margin-left: 1rem;
    border-left: 2px solid #e8e8e8;
}
.footer-main{
    display: flex;
    margin: 3rem 0;
}
.footer-box{
    width: 25%;
}
.footer-box-title{
    font-size: 0.9rem;
    font-weight: 600;
}
.footer-menu{
    margin-top: 1rem;
}
.footer-menu-item{
    padding: 0.7rem 0;
    font-size: 0.8rem;
}
.footer-menu-item-icon{
    font-size: 1.5rem;
    margin-left: 1.5rem;
}
.footer-input {
  width:70%;
  padding: 0.8rem 0.4rem;
  border-radius: 0.6rem;
  font-size: 0.8rem;
  margin-left: 0.7rem;
  background: #e3e3e6;
  color: #81858b;
  padding-right: 0.8rem;
}
.footer-submit-btn {
  padding: 0.8rem 0.8rem;
  background-image: linear-gradient(to right, #fb4208, #ff6a00) !important;
  color: #fff;
  border-radius: 0.6rem;
  font-size: 1rem;
  transition: 0.1s all;
  cursor: pointer;
  text-align: center;
}
.footer-core{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footer-desc{
    /* padding: 0.8rem 0.3rem; */
    width: 70%;
}
.footer-desc h4{
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 1.9rem;
}
.footer-desc p{
    font-size: 0.8rem;
    font-weight: 300;
    color: #e8e8e8;
    text-align: justify;
    line-height: 1.7rem;
}
.footer-enamad{
    display: flex;
}
.enamad img{
    width: 6rem;
    height: 7rem;
    padding: 0.3rem;
    border: 2px solid #81858b;
    border-radius: 1rem;
    margin-right: 0.7rem;

}
.footer-copy-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    border-top: 2px solid #e8e8e8;
    padding: 0.7rem 0 0.2rem;
    font-size: 0.8rem;
}